.form-inline .form-control {
    width: auto;
    display: inline-block
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0px;
}

#perror {
    color: #C50505;
}

p {
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    padding-left: 5px;
}

.step {
    background: #4ABEBD;
    color: #fff;
}

.warning {
    background: #E55646;
    color: #fff;
}

.completed {
    background: #EBEBEB;
    color: #696969;
}


/* Custom bootstrap buttons */

.btn-teal {
    color: #FFFFFF;
    background-color: #4ABEBD;
    border-color: #ffffff;
}

.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active,
.btn-teal.active,
.open .dropdown-toggle.btn-teal {
    color: #FFFFFF;
    background-color: #2F9997;
    border-color: #ffffff;
}

.btn-teal:active,
.btn-teal.active,
.open .dropdown-toggle.btn-teal {
    background-image: none;
}

.btn-teal.disabled,
.btn-teal[disabled],
fieldset[disabled] .btn-teal,
.btn-teal.disabled:hover,
.btn-teal[disabled]:hover,
fieldset[disabled] .btn-teal:hover,
.btn-teal.disabled:focus,
.btn-teal[disabled]:focus,
fieldset[disabled] .btn-teal:focus,
.btn-teal.disabled:active,
.btn-teal[disabled]:active,
fieldset[disabled] .btn-teal:active,
.btn-teal.disabled.active,
.btn-teal[disabled].active,
fieldset[disabled] .btn-teal.active {
    background-color: #4ABEBD;
    border-color: #ffffff;
}

.btn-teal .badge {
    color: #4ABEBD;
    background-color: #FFFFFF;
}